
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show A Post</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
<header th:replace="partials/header :: header"></header>
<nav th:replace="partials/navbar :: navbar"></nav>

<main class="container">
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
    <form style="display: inline" th:action="@{'/posts/edit/' + ${post.id}}">
        <button>Edit</button>
    </form>
    <form style="display: inline" th:action="@{'/posts/delete/' + ${post.id}}">
        <button>delete</button>
    </form>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>