<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <div th:replace="partials/links :: links"/>
</head>
<body>
<div th:replace="partials/header :: header"></div>
<nav th:replace="partials/navbar :: navbar"/>

<main class="container mt-3">
    <h1>Create an Account</h1>
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" th:field="*{username}" />

            <label for="email">Email</label>
            <input id="email" class="form-control" th:field="*{email}" />

            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" th:field="*{password}" />

            <button type="submit" class="btn btn-primary">Sign me up!</button>
        </div>
    </form>
</main>
<div th:replace="partials/footer :: footer"></div>
<div th:replace="partials/scripts :: scripts"/>
</body>
</html>